.document {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.signin {
    width: 644px;
    height: 137px;
    margin-top: 2%;
    margin-left: 10%;
    opacity: 1;
    top: 164px;
    left: 71px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.signintext1 {
    width: 644px;
    color: rgba(0,0,0,1);
    top: 0px;
    left: 0px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 64px;
    opacity: 1;
    text-align: left;
    margin-left: 0;
}

.signintext2 {
    width: 644px;
    color: rgba(0,0,0,0.75);
    top: 101px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 10%;
    margin-top: 5%;
    margin-right:10%;
    max-height: 45vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
    max-height: 100%;
    align-items: center;
}


.login-group{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.login-group label{
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;  
    flex:0 0 auto;
    width: 80px;  
}

.login-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 50%;
}

.login-button{
    margin-top: 5%;
    padding: 10px;
    background-color: #808080;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
}


.image{
    height:50vh;
    position:relative;
    top:-70%;
}

.signup-button{
    position:relative;
    top:-70%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 60%;
    background-color: #808080;
    color: white;
}